* {
  font-family: sans-serif;
}

.container {
  max-width: 575px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column-full > h1 {
  text-align: center;
}

.entry-button {
  background-color: white;
  color: black;
  padding: 0.5rem 3.5rem;
  box-shadow: 2px 3px;
}

.entry-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.hidden {
  display: none;
}

.modal {
  padding: 50px;
}

select {
  margin-right: 1.2rem;
  margin-bottom: 1.5rem;
}

.submit {
  text-align: right;
  margin: 1rem auto;
}

.submit-button {
  box-shadow: 2px 3px;
  margin-bottom: 1.5rem;
}

textarea {
  resize: none;
  width: 25rem;
}

h2 {
  text-align: center;
}

.overlay.open {
  display: block;
  position: fixed;
  z-index: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 68%);
}

.overlay.closed {
  display: none;
  position: fixed;
  z-index: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 68%);
}

.container.modal {
  background-color: white;
  margin-top: 10rem;
  border-style: solid;
}

ul {
  display: flex;
  list-style: none;
}

li {
  border-style: solid;
  margin: 2rem;
}
